@model IEnumerable<marlonbraga.dev.Models.Post>
@{
    ViewData["Title"] = "Home Page";
    int maximunPosts = 3;
    int posts = 0;
}

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-8">
            @foreach(var item in Model.OrderByDescending(a => a.PublicationDate).ToList()) {
                <a class="post" asp-controller="Posts" asp-action="Details" asp-route-id="@item.IdPost">
                    <h2>@item.Title</h2>
                    <h4>@item.Description</h4>
                    <h5>
                        @item.PublicationDate.Value.ToLongDateString()
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="badge badge-primary">C#</span>
                        <span class="badge badge-info">Design Patterns</span>
                        <span class="badge badge-dark">Entity</span>
                    </h5>
                    <div style="background-image: url('/img/headers/@item.TumbNail');" class="postimg">
                        <div class="filter-img">
                            @Html.Raw(item.Content)
                        </div>
                    </div>
                </a>
                <br>
                posts++;
                if(posts>= maximunPosts) {
                    break;
                }
            }
        </div>

        <div class="col-lg-4" style="padding-left: 70px; padding-right: 0px;">
            <h3>Sobre mim</h3>
            <div>
                <img style="min-width: 210px; object-fit: cover; max-width:-webkit-fill-available; padding: 0px 35px 0px 0px;" src="~/img/Marlon Braga 2020 squere outline.png">
            </div>
            <p>Olá! Eu sou Marlon, Desenvolvedor de software. Este é meu espaço para compartilhar um pouco do que tenho aprendido. Seja Bem-vindo!</p>
            <hr>
            <h3>Projetos</h3>
            <p>Programas em produção</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.marlonbraga.dev">
                        <i class='fas fa-pen-alt'></i>
                        Blog manager
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="https://dmbot.marlonbraga.dev">
                        <i class='fas fa-dice-d20'></i>
                        DM Chatbot
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="https://phototour.marlonbraga.dev">
                        <i class='fas fa-images'></i>
                        Photo Tour
                    </a>
                </li>
            </ul>
            <hr>
            <h3>Assuntos</h3>
            <span class="badge badge-primary">C#</span>
            <span class="badge badge-info">Design Patterns</span>
            <span class="badge badge-dark">Entity</span>
            <hr class="d-sm-none">
        </div>
</div>