@model marlonbraga.dev.Models.Post
@{
    int FHDWidth(int height) {
        return height * 16 / 9;
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.DisplayFor(model => model.Title)</title>
    <link rel="stylesheet" href="~/css/Post.css" />
</head>
<body>
    @if(Model.VideoLink != null) {
        <div style="text-align: center;">
            <iframe class="center" width="700" height="395" src="@Html.DisplayFor(model => model.VideoLink)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    } else {
        <div class="DatailsHeader" style="background-image: url('/img/headers/@Html.DisplayFor(model => model.TumbNail)');"></div>
    }
    <div class="container mt-5 mb-5">
        <h1>
            @Html.DisplayFor(model => model.Title)
        </h1>
        <h3>
            @Html.DisplayFor(model => model.Description)
        </h3>
        <div class="d-flex mt-5">
            <div class="mr-auto">
                <h5><font style="color: gray;">Publicado em:</font> @Model.PublicationDate.Value.ToLongDateString()</h5>
            </div>
            <div class="ml-auto">
                @foreach(var tag in Model.Tags) {
                    <a asp-controller="Posts" asp-action="Index" asp-route-id="@tag.IdTag">
                        <span class="badge" style="background-color:#5B9BD5">@tag.Name</span>
                    </a>
                }
                </div>
        </div>
        <p>
            @Html.Raw(Model.Content)
        </p>
        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdPost">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>
</html>
