@model marlonbraga.dev.Models.Post

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.DisplayFor(model => model.Title)</title>
    <link rel="stylesheet" href="~/css/Post.css" />
</head>
<body>

    <div class="container">
        <h1>
            @Html.DisplayFor(model => model.Title)
        </h1>
        <h5>
            @Html.DisplayFor(model => model.Description)
        </h5>
        <p style="text-align:right;">
            @Html.DisplayFor(model => model.PublicationDate)
            <span class="badge badge-primary">C#</span>
            <span class="badge badge-info">Design Patterns</span>
            <span class="badge badge-dark">Entity</span>
        </p>

        <img class="card-img-top" src="/img/headers/@Html.DisplayFor(model => model.TumbNail)" />
        <p>
            @Html.Raw(Model.Content)
        </p>
        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdPost">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>
</html>
