@model marlonbraga.dev.Models.Post

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.DisplayFor(model => model.Title)</title>
    <link rel="stylesheet" href="~/css/Post.css" />
</head>
<body>

    <div class="container mt-5 mb-5">
        <h1>
            @Html.DisplayFor(model => model.Title)
        </h1>
        <h3>
            @Html.DisplayFor(model => model.Description)
        </h3>
        <div class="d-flex mt-5">
            <div class="mr-auto">
                <h5><font style="color: gray;">Publicado em:</font> @Model.PublicationDate.Value.ToLongDateString()</h5>
            </div>
            <div class="ml-auto">
                @foreach(var tag in Model.Tags) {
                    <span class="badge badge-primary">@tag.Name</span>
                }
            </div>
        </div>

        <img class="card-img-top" src="/img/headers/@Html.DisplayFor(model => model.TumbNail)" />
        <p>
            @Html.Raw(Model.Content)
        </p>
        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdPost">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>
</html>
