@model IEnumerable<marlonbraga.dev.Models.Post>

<div class="container">
    <div class="d-flex flex-wrap align-content-center align-items-center">
        @foreach(var item in Model) {
        <a asp-action="Details" asp-route-id="@item.IdPost">
            <div class="card" style="width:250px">
                <img class="card-img-top" src="@Html.DisplayFor(model => item.TumbNail)" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(model => item.Title)</h4>
                    <p class="card-text">@Html.DisplayFor(model => item.Description)</p>
                </div>
            </div>
        </a>
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublicationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model) {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.TumbNail)">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdPost">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>*@
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdPost"><i class='fas fa-newspaper'></i></a> |
                        <a asp-action="Edit" asp-route-id="@item.IdPost"><i class='fas fa-pencil-alt'></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.IdPost"><i class='fas fa-trash-alt'></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a type="button" class="btn btn-success" asp-action="Create">Create New</a>
    </p>
</div>
